<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MicroBenchmark/src/ch/obermuhlner/scala/microbenchmark/example/HtmlExample1.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.obermuhlner.scala.microbenchmark.example.HtmlExample1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MicroBenchmark"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:MicroBenchmark}/output"/>
</launchConfiguration>
